body {
  background-color: #38B6FF;
  margin: auto;
  font-family: "Grandstander", "PT Sans", Calibri, Tahoma, sans-serif;
  overflow-x: hidden;
}

footer {
  background-color: #623002;
  text-align: center;
  color: white;

  height: 100px;
  margin-top: -20px;
  margin-bottom: -20px;
  text-align: center;
}

.aspen-games-text {
  padding-top: 25px;
}

.navbar {
  padding: 2%;
  text-align: center;
}

  /* Style the links inside the navigation bar */
  .navbar a {
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: white;
    text-decoration: white dotted underline;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    /* background-color: #04AA6D; */
    color: #f2f2f2;
    text-decoration: #f2f2f2 underline;
  }

.top-title {
  margin: auto;
  padding-bottom: 50px;

  text-align: center;
}

.team-title {
  margin: auto;
  margin-top: -50px;
  /* margin-bottom: -50px; */
  text-align: center;
}

.background {
  position: absolute;
}

.background img {
  width: 90%;
  height: auto;
}

.background-home-left {
  top: -100px;
  left: -25px;
}

.background-team-left {
  top: -146px;
  left: -25px;
}

.background-home-right {
  top: -100px;
  /*left: 200px; */ /* 1196px */
  margin-left: 1196px;
  width: 32%;
  height: auto;
}

.background-team-right {
  top: -95px;
  left: 1196px; /* 1200px*/
  width: 32%;
  height: auto;
}

.background-team img {
  width: 90%;
  height: auto;
}

.video-trailer {
  background-color: #A4DBFF;
  width: 800px;
  height: 450px;

  margin: auto;
  margin-top: 0px;
  margin-bottom: -20px;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}

.brown-section {
  background-color: #623002;
  text-align: center;
  margin-top: 100px;
}

.tan-section {
  background-color: #EFE2B9;
  text-align: center;
  height: 600px;
}

.team-section {
  /* border-color: rgb(148, 206, 233);
  border-style: solid;
  border-width: 5px; */

  width: 1500px;
  height: auto;

  margin: auto;
  /* margin-bottom: 0px;
  margin-top: 0px; */

  /* padding-top: 25px; */
  margin-top: 150px;
  margin-bottom: 100px;

  text-align: center;
}

.team-row {
  text-align: center;

  /* border-color: rgb(144, 132, 223);
  border-style: solid;
  border-width: 5px; */

  height: auto;
}

.team-profile {
  text-align: center;
/* 
  border-color: rgb(79, 83, 141);
  border-style: solid;
  border-width: 5px; */

  /*margin-top: 10px;*/
  margin-left: 10px;
  margin-right: 10px;

  /* width: 60px and height: 70px ratio */
  width: 300px;
  height: 325px;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.team-profile img {
  width: 90%;
  height: auto;
  border: 10px solid white;
  border-radius: 10px;
}

.team-profile h3 {
  margin-top: -15px;
}

.team-member-label {
  background-color: #FFE34C;
  border-radius: 50px;
  color: #3C4658;

  position: absolute;
  margin-top: -50px;

  height: 80px;
  width: 300px;
}

.team-member-label h4 {
  margin: -15px;
}

#high-concept {
  /*debugging borders*/
  /* border-color: rgb(255, 40, 212);
  border-style: solid;
  border-width: 5px; */

  color:#FFE34C;
  padding-top: 50px;
  padding-left: 400px; 
  padding-right: 400px;
}

.scrolling-image-container {
  position: absolute;
  overflow: hidden;

  height: 750px;
  width: 1650px;
}

.scrolling-image {
  background: url("images/FinishedAssets/Scrolling-Clouds.png") repeat-x;

  height: 750px;
  width: 5760px;
  opacity: 0.25;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* 2/3 of image width for seemless loop */
  }
}

.slideshow-box {

  /*debugging borders*/
  /* border-color: rgb(148, 206, 233);
  border-style: solid;
  border-width: 5px; */

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.slides img {
  border: 10px solid white;
  border-radius: 10px;
}

/* Title Caption text */
.title-caption {
  color: #FFE34C;
  font-size: 80px;
  padding: 8px 12px;
  position: absolute;
  left: 250px;
  bottom: 50px;
  width: 100%;
  text-align: left;
}

/*Caption text */
.caption {
  color: white;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  left: 250px;
  bottom: 10px;
  width: 100%;
  text-align: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 240px;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the right */
.prev {
  left: 240px;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #FFE34C;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}